body{
	align-content: center;

}
h4,h5{
	a:hover-color:red;
}
img{
	padding: 3px; border-image: url(image.jpg) round 34px; image-rendering: 
}
h1{
	text-align: center;
	color: rgb(235467);
	color-rendering:;
	height: 60px;
	font-weight: bolder;
}
.positiontOfPerson{
		size: bolder;
		font-size: 18;
		a: hover {
			color:#C1E31B;
			}
}
.phoneNumber{ 
		color: #E3B21B;
		padding: 2px
		text-shadow: solid 1px blue;
}
#name{
	color: #9B59B6;
	padding-top: 0.9px; padding-bottom: 0.9;
	text-shadow:none;
}
.upperPhoto{
	align-content: center; 
	border-image: 1px; border-left: 1px; border-right: 1px;
	position: center;
	pointer-events: none;
}