<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="Contact/css" href="contact.css">
	<title><em>Contact</em></title>
</head>
<body>

	<p>
		<h1><strong>Contact Us</strong></h1>
	</p>

	<div>	 <!--Person's image should be above name-->

	<span ><p><h4 class="positionOfPerson">Co-ordinator</h4><br />
					<a img="pictureOfcoridnator" alt="picture of the Co-ordinator" > 
		<strong id="name"><em>NameOfCoodintor</em></strong><br />
		<h5>mobile number</h5>
	    </p>
	</span>
	    <p>
		<span>
			<h4 class="positionOfPerson">Organizing Team</h4><br />
			<a img="picture" atl="photo of NameOfOrganizer1" ><br />
				<strong id="name"><em>NameOfOrganizer1</em></strong><br /> 
			<h5>mobile number1</h5>
			Email: 
		</span>
		<span>
			<h4 class="positionOfPerson">Organizing Team</h4><br />
			<a img="picture" alt="photo of NameOfOrganizer2" ><br />
				<strong id="name"><em>NameOfOrganizer2</em></strong><br /> 
			<h5>mobile number2</h5>
			Email:
	    </span>
		</p>
	</div>

		<div>
			<!-- form for querry and suggestion .  Maybe sponsors --> 
			<span>Your Suggestions and Querries are important to us</span>
			<form action="submit">
				Name: <input type="text" name=""> <br>
				Email:<input type="" email=""> <br>
				Content:<textarea name="Write your suggestion here or leave us a complain"></textarea>
				<input type="submit" value="send">
			</form>
		</div>

	</div>
	  <div>	 
	  	<!--links to the facebook page of the the event or the whatsapp group of the event if any-->
	    <a link="" href="" alt="">Facebook</a>
	    <a link="" href=""> whatsapp</a>
	    <a link="" href="">google</a>
	</div>

</body>
</html>