{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title%}
        <title>{{title}} | InfoX'18</title>
    {% endblock %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href= "{% static 'bootstrap/css/bootstrap.min.css'%}">

    {% block styles %}
    {% endblock styles %}

  </head>
  <body>
    {% block content %}
    {% endblock content %}

    {% block script %}
    {% endblock script %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src = "{% static 'jquery/jquery-slim.min.js' %}"></script>
    <script src = "{% static 'popper/popper.min.js' %}"></script>
    <script src = "{% static 'bootstrap/css/bootstrap.min.css' %}"></script>
  </body>
</html>