{% extends "base.html" %}
{% load static %}

    
    {% block styles %}
    <!--your all css for this page should be here-->
    {% endblock styles %}

    
    {% block content %}
    <h1>Register</h1>
    <!-- 
        how to give link to "href" or "link"
        Examples
        src = "{% static 'jquery/jquery-slim.min.js' %}"
        href= "{% static 'bootstrap/css/bootstrap.min.css'%}"
    -->
    {% endblock content %}


    {% block script %}
    <!-- Your all js for this page should be here -->
    {% endblock script %}